<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <arg name="x_pos" default="0"/>
  <arg name="y_pos" default="0"/>
  <arg name="z_pos" default="0.05"/>  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_indus)/worlds/industrial.world"/>    
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
  </include>   
  
  <param name="robot_description"
   command="$(find xacro)/xacro --inorder '$(find gazebo_indus)/urdf/open_manipulator_with_tb3_waffle.urdf.xacro'"/>
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
     args="-urdf -model open_manipulator -z 0.0 -param robot_description"/>
  <include file="$(find open_manipulator_gazebo)/launch/open_manipulator_controller.launch"/>

</launch>




